{% extends "layout.html" %} {% set page_title="Home" %} {% block heading %}
<h1>HOME</h1>
{% endblock %} {% block content %}
<div class="container">
  <div class="link-container">
    <a class="big-link" id="apod-link" href="{{ url_for('apod') }}">APOD</a>
    <h3>
      
      
      View the NASA Astronomy Picture of the Day from today and previous dates.
    </h3>
  </div>
  <div class="link-container">
    <a class="big-link" id="mars-link" href="{{ url_for('mars') }}"
      >Mars Rover</a
    >
    <h3>   
      Choose views from several of the Mars rover Curiosity's mounted cameras
    </h3>
  </div>
  {% endblock %}
</div>
