<html>

<head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icon.png')}}">
</head>

<body>

       <header class="top-header">
NASA APP
<nav class="header-links">
<a class="header-link" href="{{ url_for('home') }}">Home</a>
<a class="header-link" href="{{ url_for('apod') }}">APOD</a>
<a class="header-link" href="{{ url_for('mars') }}">Mars Rover</a>
</nav>
</header>

    {% block heading %} {% endblock %} 
    {% block content %} {% endblock %}

</body>

</html>